.imgclientes-img-row {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 20px;

}

.imgclientes1 {
    position: relative;
  width: 250px;
  height: 250px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 110px;
}

.imgclientes2 {
    position: relative;
  width: 250px;
  height: 250px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 363px;
}

.imgclientes-img {
position: relative;
  width: 90%;
  height: 90%;
  object-fit: cover;
  left: -55px;
  top: 64px;

}

.imgclientes-titulo1{
    position: relative;
    left: -49px;
    top: 79px;
      font-weight: bold;

}

.imgclientes-titulo{
position: relative;
left: 195px;
}


.imgclientes-detalle-container{
position: relative;
  border: 2px solid #000;
  width: 1100px;
  height:  400px;
  left: 84px;
}